html {
  font-family: sans-serif;
}

body {
  font-family: "Noto Sans HK", sans-serif;
  margin: 0;
  font-family: ;
  font-size: 1.0625rem;
  font-weight: 300;
  line-height: 1.6;
  color: #161c2d;
  text-align: left;
  background-color: #fff;
}

.nav-bar {
  background-color: #fff;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1.25rem 0;
  box-sizing: border-box;
}

.nav-bar .container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.nav-bar .container .nav-bar-logo {
  display: inline-block;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  margin-right: 0;
  font-size: 1.5rem;
  line-height: inherit;
  white-space: nowrap;
}

.nav-bar .container .top-left-logo {
  max-height: 2.4rem;
  width: auto;
  vertical-align: middle;
  border-style: none;
}

.nav-bar-button {
  margin-left: auto;
  padding: 0.25rem 0.75rem;
  font-size: 1.1875rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  align-items: flex-start;
}

.nav-bar-button img {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.welcome {
}

.welcome .welcome-container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.welcome .welcome-container .row-align-items-center {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
  box-sizing: border-box;
}

.welcome .welcome-container .welcome-img {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.welcome .welcome-container .welcome-img img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  margin-bottom: 2rem;
}

.welcome-text-button {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.welcome-text-button .welcome-text-1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.25rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  box-sizing: border-box;
  font-weight: 300;
  margin-top: 0;
}

.text-primary {
  color: #335eea;
}

.welcome-text-2 {
  font-size: 1.1875rem;
  color: #869ab8;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 300;
  margin-top: 0;
}

.welcome-button {
  text-align: center;
  box-sizing: border-box;
}

.welcome-button-left {
  cursor: pointer;
  border-color: transparent;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  margin-right: 0.25rem;
  color: #fff;
  background-color: #335eea;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.8125rem 1.25rem;
  font-size: 1.0625rem;
  line-height: 1.6;
  border-radius: 0.375rem;
  text-decoration: none;
}

.welcome-button-right {
  cursor: pointer;
  border-color: transparent;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  background-color: rgba(51, 94, 234, 0.1);
  color: #335eea;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.8125rem 1.25rem;
  font-size: 1.0625rem;
  line-height: 1.6;
  border-radius: 0.375rem;
  text-decoration: none;
}

.welcome-detial {
  padding-bottom: 3rem;
  padding-top: 3rem;
  border-bottom: 1px solid #f1f4f8;
  display: block;
  box-sizing: border-box;
}

.welcome-detail-container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.welcome-detail-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
  box-sizing: border-box;
}

.welcome-detail-row-top {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.welcome-detail-row-top .icon-top {
  color: #335eea;
  margin-bottom: 0.75rem;
  box-sizing: border-box;
}

.welcome-detail-row-top .icon-top svg {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  vertical-align: middle;
  box-sizing: border-box;
}

.welcome-detail-row-top h3 {
  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 0.5rem;
  font-weight: 400;
  margin-top: 0;
  box-sizing: border-box;
}

.welcome-detail-row-top .top-text {
  color: #869ab8;
  margin-bottom: 2rem;
  margin-top: 0;
  box-sizing: border-box;
}

.welcome-detail-row-mid {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.icon-mid {
  color: #335eea;
  margin-bottom: 0.75rem;
  box-sizing: border-box;
}

.icon-mid svg {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  vertical-align: middle;
  box-sizing: border-box;
}

.welcome-detail-row-mid h3 {
  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 0.5rem;
  font-weight: 400;
  margin-top: 0;
  box-sizing: border-box;
}

.welcome-detail-row-mid .mid-text {
  color: #869ab8;
  margin-bottom: 2rem;
  margin-top: 0;
  box-sizing: border-box;
}

.welcome-detail-row-bot {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.welcome-detail-row-bot .icon-bot {
  color: #335eea;
  margin-bottom: 0.75rem;
  box-sizing: border-box;
}

.welcome-detail-row-bot .icon-bot svg {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  vertical-align: middle;
  box-sizing: border-box;
}

.welcome-detail-row-bot h3 {
  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 0.5rem;
  font-weight: 400;
  margin-top: 0;
  box-sizing: border-box;
}

.welcome-detail-row-bot .bot-text {
  color: #869ab8;
  margin-bottom: 0;
  margin-top: 0;
  box-sizing: border-box;
}

.brands {
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-bottom: 1px solid #f1f4f8;
  display: block;
  box-sizing: border-box;
}

.brands-container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.brands-container-align {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
  box-sizing: border-box;
}

.brand-1 {
  margin-bottom: 1rem;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.brand-2 {
  margin-bottom: 1rem;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.brand-3 {
  margin-bottom: 1rem;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.brand-4 {
  margin-bottom: 1rem;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.brand-5 {
  margin-bottom: 1rem;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.brand-6 {
  margin-bottom: 1rem;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.brand-1-img {
  color: #869ab8;
  margin-bottom: 0.5rem;
  max-width: 100%;
  height: auto;
}

.brand-2-img {
  color: #869ab8;
  margin-bottom: 0.5rem;
  max-width: 100%;
  height: auto;
}

.brand-3-img {
  color: #869ab8;
  margin-bottom: 0.5rem;
  max-width: 100%;
  height: auto;
}

.brand-4-img {
  color: #869ab8;
  margin-bottom: 0.5rem;
  max-width: 100%;
  height: auto;
}

.brand-5-img {
  color: #869ab8;
  margin-bottom: 0.5rem;
  max-width: 100%;
  height: auto;
}

.brand-6-img {
  color: #869ab8;
  margin-bottom: 0.5rem;
  max-width: 100%;
  height: auto;
}

.brand-1-img svg {
  max-width: inherit;
  height: inherit;
  overflow: hidden;
  vertical-align: middle;
}

.brand-2-img svg {
  max-width: inherit;
  height: inherit;
  overflow: hidden;
  vertical-align: middle;
}

.brand-3-img svg {
  max-width: inherit;
  height: inherit;
  overflow: hidden;
  vertical-align: middle;
}

.brand-4-img svg {
  max-width: inherit;
  height: inherit;
  overflow: hidden;
  vertical-align: middle;
}

.brand-5-img svg {
  max-width: inherit;
  height: inherit;
  overflow: hidden;
  vertical-align: middle;
}

.brand-6-img svg {
  max-width: inherit;
  height: inherit;
  overflow: hidden;
  vertical-align: middle;
}

.information {
  background-image: linear-gradient(to bottom, #f9fbfd 0, #fff 100%);
  padding-top: 3rem;
  display: block;
  box-sizing: border-box;
}

.information-container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.ingormation-row-align-top {
  margin-bottom: 3rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
  box-sizing: border-box;
}

.information-box-top-1 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.information-box-top-1 h2 {
  font-size: 1.5rem;
  line-height: 1.35;
  letter-spacing: -0.01em;
  margin-bottom: 1rem;
  font-weight: 400;
  margin-top: 0;
  box-sizing: border-box;
}

.information-box-top-1 .animation-text {
  color: #42ba96;
}

.information-text-1 {
  font-size: 1.0625rem;
  color: #869ab8;
  margin-bottom: 2rem;
  margin-top: 0;
}

.information-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
  box-sizing: border-box;
}

.information-list-first-2 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.first-2-first {
  display: flex;
  box-sizing: border-box;
}

.list-icon-1 {
}

.text-first {
  color: #42ba96;
  margin-top: 0;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.list-icon-2 {
}

.first-2-second {
  display: flex;
  box-sizing: border-box;
}

.text-second {
  color: #42ba96;
  margin-top: 0;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.information-list-last-2 {
  margin-bottom: 2rem;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.last-2-first {
  display: flex;
  box-sizing: border-box;
}

.list-icon-3 {
}

.text-third {
  color: #42ba96;
  margin-top: 0;
  margin-bottom: 1rem;
}

.last-2-second {
  display: flex;
  box-sizing: border-box;
}

.list-icon-4 {
}

.text-forth {
  color: #42ba96;
  margin-bottom: 0;
  margin-top: 0;
}

.information-box-top-2 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.information-card {
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.05);
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #f1f4f8;
  border-radius: 0.375rem;
  box-sizing: border-box;
}

.information-card img {
  position: relative;
  min-height: 1px;
  border-top-left-radius: calc(0.375rem - 0px);
  border-top-right-radius: calc(0.375rem - 0px);
  flex-shrink: 0;
  width: 100%;
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
}

.card-mid-position {
  position: relative;
  box-sizing: border-box;
}

.card-mid-shape {
  overflow: hidden;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  color: #fff;
  box-sizing: border-box;
}

.card-mid-shape svg {
  transform: scale(2);
  width: 100%;
  height: auto;
  transform-origin: top center;
  display: block;
  overflow: hidden;
  vertical-align: middle;
  box-sizing: border-box;
}

.form-card-body {
  position: relative;
  min-height: 1px;
  display: block;
  -webkit-box-flex: 0;
  flex-grow: 0;
  padding: 2rem;
  flex: 1 1 auto;
  box-sizing: border-box;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.form-label-text {
  display: block;
  width: 100%;
  height: calc(1.6em + 1.625rem + 2px);
  padding: 0.8125rem 1.25rem;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.6;
  color: #161c2d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #f1f4f8;
  padding-left: 0;
  padding-right: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 0;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  overflow: visible;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
}

.card-body label {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(1.6em + 1.625rem + 2px);
  padding: 0.8125rem 1.25rem;
  margin-bottom: 0;
  line-height: 1.6;
  font-size: 1.0625rem;
  color: #869ab8;
  pointer-events: none;
  cursor: text;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.form-button {
  margin-top: 2rem;
  box-sizing: border-box;
}

.form-button button {
  cursor: pointer;
  border-color: transparent;
  transition: box-shadow 0.25s ease, transform 0.25s ease,
    -webkit-transform 0.25s ease;
  display: block;
  width: 100%;
  color: #fff;
  background-color: #42ba96;
  box-shadow: none;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.8125rem 1.25rem;
  font-size: 1.0625rem;
  line-height: 1.6;
  border-radius: 0.375rem;
  text-transform: none;
  overflow: visible;
  margin: 0;
  font-family: inherit;
}

.information-row-align-top {
  margin-bottom: 3rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
  box-sizing: border-box;
}

.information-row-align-bot {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
  box-sizing: border-box;
}

.bot-information {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.bot-information h2 {
  font-size: 1.5rem;
  line-height: 1.35;
  letter-spacing: -0.01em;
  margin-bottom: 1rem;
  font-weight: 300;
  margin-top: 0;
  box-sizing: border-box;
}

.bot-information p {
  font-size: 1.0625rem;
  color: #869ab8;
  margin-bottom: 2rem;
  margin-top: 0;
  box-sizing: border-box;
}

.information-bot-list-1 {
  display: flex;
  box-sizing: border-box;
}

.bot-list-icon-1 {
  color: #335eea;
  box-sizing: border-box;
}

.bot-list-icon-1 svg {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  vertical-align: middle;
  box-sizing: border-box;
}

.bot-list-text-1 {
  margin-left: 1.5rem;
  box-sizing: border-box;
}

.bot-list-text-1 h4 {
  margin-bottom: 0.25rem;
  font-size: 1.0625rem;
  line-height: 1.45;
  letter-spacing: -0.01em;
  font-weight: 400;
  margin-top: 0;
  box-sizing: border-box;
}

.bot-list-text-1 p {
  color: #869ab8;
  margin-bottom: 2rem;
  margin-top: 0;
  box-sizing: border-box;
}

.information-bot-list-2 {
  display: flex;
  box-sizing: border-box;
}

.bot-list-icon-2 {
  color: #335eea;
  box-sizing: border-box;
}

.bot-list-icon-2 svg {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  vertical-align: middle;
  box-sizing: border-box;
}

.bot-list-text-2 {
  margin-left: 1.5rem;
  box-sizing: border-box;
}

.bot-list-text-2 h4 {
  margin-bottom: 0.25rem;
  font-size: 1.0625rem;
  line-height: 1.45;
  letter-spacing: -0.01em;
  font-weight: 400;
  margin-top: 0;
  box-sizing: border-box;
}

.bot-list-text-2 p {
  color: #869ab8;
  margin-bottom: 2rem;
  margin-top: 0;
  box-sizing: border-box;
}

.information-bot-img {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.bot-img-position {
  position: relative;
  box-sizing: border-box;
}

.bot-image-1 {
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%) scale(1.3);
  position: absolute;
  pointer-events: none;
  color: #f1f4f8;
  box-sizing: border-box;
}

.bot-image-1 svg {
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: hidden;
  vertical-align: middle;
  box-sizing: border-box;
}

.bot-image-2 {
  perspective-origin: left center;
  perspective: 1500px;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

.bot-image-2 img {
  transform: rotateY(-35deg) rotateX(15deg);
  backface-visibility: hidden;
  border-radius: 0.625rem;
  box-shadow: 25px 60px 125px -25px rgb(80 102 144 / 10%),
    16px 40px 75px -40px rgb(0 0 0 / 20%);
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
}

.information-2 {
  padding-top: 5rem;
  display: block;
  box-sizing: border-box;
}

.information-2-container {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.information-2-center {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
  box-sizing: border-box;
}

.information-2-top-text {
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.information-2-top-text h2 {
  font-size: 1.5rem;
  line-height: 1.35;
  letter-spacing: -0.01em;
  margin-bottom: 1rem;
  font-weight: 400;
  box-sizing: border-box;
}

.information-2-top-text p {
  font-size: 1.0625rem;
  color: #869ab8;
  margin-bottom: 2.5rem;
  margin-top: 0;
  box-sizing: border-box;
}

.information-2-cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
  box-sizing: border-box;
}

.information-2-cards-container {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.information-cards-row-align {
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.05);
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #f1f4f8;
  border-radius: 0.375rem;
  box-sizing: border-box;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.information-cards-image {
  padding-right: 0;
  padding-left: 0;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.card-img-slider {
  padding-right: 0;
  padding-left: 0;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.information-3 {
  background-color: #f1f4f8;
  padding-top: 8rem;
  display: block;
  box-sizing: border-box;
}

.information-3-container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.information-3-align {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
  box-sizing: border-box;
}

.information-3-img {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.information-3-img img {
  margin-bottom: 2rem;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
}

.information-3-text {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.information-3-text h2 {
  font-size: 1.5rem;
  line-height: 1.35;
  letter-spacing: -0.01em;
  margin-bottom: 1rem;
  font-weight: 400;
  margin-top: 0;
  box-sizing: border-box;
}

.information-3-text p {
  color: #506690;
  font-size: 1.0625rem;
  margin-bottom: 2rem;
  margin-top: 0;
  box-sizing: border-box;
}

.information-3-flex p {
  color: #506690;
  margin-bottom: 0;

  margin-top: 0;
  box-sizing: border-box;
}

.information-3-flex {
  display: flex;
  box-sizing: border-box;
}

.satisfaction {
  padding-right: 1.5rem;
  box-sizing: border-box;
  border-right: 1px solid #d9e2ef;
}

.information-3-flex h3 {
  margin-bottom: 0;
  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: -0.01em;
  font-weight: 400;
  margin-top: 0;
  box-sizing: border-box;
}

.border-left {
  border-color: #d9e2ef;
  border-left: 1px solid #f1f4f8;
  box-sizing: border-box;
}

.support {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;
  border-right: 1px solid #d9e2ef;
}

.sales {
  padding-left: 1.5rem;
  box-sizing: border-box;
}

.price {
  background-color: #f1f4f8;
  padding-top: 4rem;
  display: block;
  box-sizing: border-box;
}

.price-container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  z-index: 1;
}

.price-row-align {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
  box-sizing: border-box;
}

.price-top-text {
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
}

.price-top-text h1 {
  font-size: 1.875rem;
  line-height: 1.3;
  letter-spacing: -0.01em;
  margin-bottom: 1rem;
  font-weight: 400;
  margin-top: 0;
  box-sizing: border-box;
}

.price-top-text p {
  color: #506690;
  font-size: 1.1875rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.price-compare {
  margin-bottom: 2.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}

.annual-monthly-text {
  color: #869ab8;
  box-sizing: border-box;
}

.switch {
  min-height: 1.375rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  padding-left: 3rem;
  position: relative;
  z-index: 1;
  display: block;
  box-sizing: border-box;
}

.custom-control-input {
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.35rem;
  opacity: 0;
  overflow: visible;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  opacity: 0;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  display: inline-block;
}

.custom-control-label::before {
  top: 0.1625rem;
  height: 1.375rem;
  border-radius: 0.6875rem;
  left: -3rem;
  width: 2.5rem;
  pointer-events: all;
  position: absolute;
  content: "";
  background-color: #d9e2ef;
  border: #abbcd5 solid 0;
  box-shadow: none;
}

.switch-circle {
  top: 0.35rem;
  left: -2.8125rem;
  background-color: #fff;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  position: absolute;
  display: block;
  content: "";
  background: no-repeat 50%/50% 50%;
}

.middle-img {
  margin-top: -3rem;
  position: relative;
  box-sizing: border-box;
}

.middle-img-shape {
  overflow: hidden;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  color: #f1f4f8;
  box-sizing: border-box;
}

.middle-img-shape svg {
  transform: scale(2);
  width: 100%;
  height: auto;
  transform-origin: top center;
  display: block;
  overflow: hidden;
  vertical-align: middle;
  box-sizing: border-box;
}

.bot-cards-row {
  align-items: center;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.bot-card-top {
  padding-right: 0;
  padding-left: 0;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.card-shape {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.1);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #f1f4f8;
  box-sizing: border-box;
}

.bot-card-body {
  position: relative;
  min-height: 1px;
  display: block;
  flex-grow: 0;
  padding-bottom: 2rem;
  padding-top: 2rem;
  flex: 1 1 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.card-body-justfy {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
  box-sizing: border-box;
}

.innercard-body {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.top-head {
  text-align: center;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
}

.top-head-shape {
  background-color: rgba(51, 94, 234, 0.1);
  color: #335eea;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  border-radius: 10rem;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  font-size: 75%;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  box-sizing: border-box;
}

.top-head-text {
  letter-spacing: 0.08em;
  line-height: 1.55;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.lead {
    font-size: 1.3125rem;
    font-weight: 400;
}

.bg-gray-300 {
    background-color: #d9e2ef!important;
}


.text-gray-700 {
    color: #506690!important;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.price-unit {
  font-size: 1.5rem;
  line-height: 1.35;
  letter-spacing: -0.01em;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-weight: 400;
}

.price-display {
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 0;
  font-weight: 400;
}

.month {
  font-size: 1.5rem;
  line-height: 1.35;
  letter-spacing: -0.01em;
  margin-bottom: 0.25rem;
  align-self: flex-end;
  font-weight: 400;
}

.per-seat {
  color: #869ab8;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 0;
}

.badge {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  font-size: 75%;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.375rem;
}

.badge-rounded-circle {
  height: calc(1em + 0.5rem);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 10rem;
}

.badge-success-soft {
  background-color: rgba(66, 186, 150, 0.1);
  color: #42ba96;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.shape>* {
    display: block;
}

.shape-bottom>* {
    -webkit-transform-origin: top center;
    transform-origin: top center;
}

.shape-fluid-x>* {
    width: 100%;
    height: auto;
}

.shape:not([class*=shape-blur])>* {
    transform: scale(2);
}  

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}


.text-dark {
    color: #1b2a4e!important;
}

.pt-8, .py-8 {
    padding-top: 3rem!important;
}

.pt-15, .py-15 {
    padding-top: 16rem!important;
}

.bg-dark {
    background-color: #1b2a4e!important;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

[class^=container] {
    position: relative;
    z-index: 1;
}

.shape {
    position: absolute;
    pointer-events: none;
}

.shape:not([class*=shape-blur]) {
    overflow: hidden;
}

.shape-bottom {
    right: 0;
    bottom: 0;
    left: 0;
}

.position-relative {
    position: relative!important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem;
}



.mt-n15, .my-n15 {
    margin-top: -16rem!important;
}

.mr-4,
.mx-4 {
  margin-right: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.card-btn:last-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.btn-block {
  display: block;
  width: 100%;
}



.btn {
  display: inline-block;
  font-weight: 600;
  color: #161c2d;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.8125rem 1.25rem;
  font-size: 1.0625rem;
  line-height: 1.6;
  border-radius: 0.375rem;
}


.btn-light {
    color: #1b2a4e;
    background-color: #f9fbfd;
    border-color: #f9fbfd;
    box-shadow: none;
}



.btn-lg {
  padding: 1.122rem 1.5rem;
  font-size: 1.0625rem;
  line-height: 1.6;
  border-radius: 0.375rem;
}
*,
::after,
::before {
  box-sizing: border-box;
}

a {
  color: #335eea;
  text-decoration: none;
  background-color: transparent;
}

.btn-primary {
  color: #fff;
  background-color: #335eea;
  border-color: #335eea;
  box-shadow: none;
}

.no-gutters{
  padding-right: 0;
  padding-left: 0;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.card {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f1f4f8;
    border-radius: .375rem;
}

.shadow-lg {
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.1) !important;
}

.rounded-lg {
  border-radius: 0.5rem !important;
}



.pb-6,
.py-6 {
  padding-bottom: 2rem !important;
}

.pt-6,
.py-6 {
  padding-top: 2rem !important;
}

.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}

.text-center {
  text-align: center !important;
}

.mb-8,
.my-8 {
  margin-bottom: 3rem !important;
}

.badge-primary-soft {
  background-color: rgba(51, 94, 234, 0.1);
  color: #335eea;
}

.badge-pill {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  border-radius: 10rem;
}

.text-muted {
    color: #869ab8!important;
}

.mb-0, .my-0 {
    margin-bottom: 0!important;
}

.card-body {
  display: block;
  flex-grow: 0;
  flex: 1 1 auto;
  padding: 2rem;
}

.card-body,
.card-footer,
.card-img,
.card-img-left,
.card-img-right,
.card-img-top,
.card-meta {
  position: relative;
  min-height: 1px;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1;
}


.h6, h6 {
    font-size: .75rem;
}


.text-uppercase {
    text-transform: uppercase!important;
}

.font-weight-bold {
    font-weight: 600!important;
}

.h6, h6 {
    line-height: 1.55;
}

.h6.text-uppercase, h6.text-uppercase {
    letter-spacing: .08em;
}





@media (max-width: 991.98px) {
  .lead {
    font-size: 1.1875rem;
  }
}

@media (min-width: 576px) {
  .nav-bar .container {
    max-width: 540px;
  }

  .welcome-container {
    max-width: 540px;
  }

  .welcome-detail-container {
    max-width: 540px;
  }

  .brands-container {
    max-width: 540px;
  }

  .brands-container .brand-1 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .brands-container .brand-2 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .brands-container .brand-3 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .brands-container .brand-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .brands-container .brand-5 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .brands-container .brand-6 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media (min-width: 768px) {
  .nav-bar .container {
    max-width: 720px;
  }

  .welcome {
    padding-top: 6rem;
    box-sizing: border-box;
  }

  .welcome-container {
    max-width: 720px;
    box-sizing: border-box;
  }

  .welcome .welcome-container .welcome-img {
    order: 2;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    box-sizing: border-box;
  }

  .welcome .welcome-container .welcome-img img {
    max-width: 150%;
    margin-bottom: 0;
    box-sizing: border-box;
  }

  .welcome-text-button {
    order: 1;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    box-sizing: border-box;
  }

  .welcome-text-button .welcome-text-1 {
    text-align: left;
  }

  .welcome-text-2 {
    text-align: left;
  }

  .welcome-button {
    text-align: left;
  }

  .welcome-detial {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }

  .welcome-detail-container {
    max-width: 720px;
  }

  .welcome-detail-row-top {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .welcome-detail-row-mid {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .welcome-detail-row-bot {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .brands {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .brands-container {
    max-width: 720px;
  }

  .brands-container .brand-1 {
    margin-bottom: 0;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .brands-container .brand-2 {
    margin-bottom: 0;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .brands-container .brand-3 {
    margin-bottom: 0;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .brands-container .brand-4 {
    margin-bottom: 0;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .brands-container .brand-5 {
    margin-bottom: 0;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .brands-container .brand-6 {
    margin-bottom: 0;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}


@media (min-width: 992px){
    .nav-bar .container{
        max-width:960px;
    }




    .welcome-container{
        max-width:960px;
    }

    .welcome-detail-container {
        max-width: 960px;
      }
    
      .brands-container {
        max-width: 960px;
      }
}
